* {
  font-family: monospace;
}
body {
  background: beige;
}
.impo {
  background: orangered;
  color: lightgoldenrodyellow;
  padding: 1.5rem;
  border: solid black 2px;
}
#h1 {
  background: saddlebrown;
  padding: 2px;
  color: white;
}
.yes {
  display: block;
  background: white;
  padding: 2px;
  padding-top: 0;
  border: solid black 2px;
  margin-top: 1rem;
}