@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
html {
    font-size: 10px;
}
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background: white;
}

/* 1. Header (Container styles only) */
header {
    background: darkmagenta;
    top: 2rem;
    position: sticky;
    /* Flex alignment removed as requested */
}

/* 2. The "Egg" Class - Base Layer (Thick Outline) */
.egg {
    font-family: 'Anton', sans-serif;
    font-size: 5rem; /* Adjust size as needed */
    margin: 0;
    line-height: 1;
    letter-spacing: 0.20rem;
    position: relative;
    display: inline-block; /* Important ensures the box wraps the text tight */
    
    /* The Thick Dark Border */
    color: #0b2f3a; 
    -webkit-text-stroke: 0.7rem #0b2f3a; 
    paint-order: stroke fill;
    
    /* White Outer Glow */
    filter: drop-shadow(0px 0px 0.5rem rgba(255, 255, 255, 0.9));
}

/* 3. The "Egg" Class - Top Layer (Gradient) */
.egg::before {
    content: attr(data-text); /* Grabs text from HTML */
    position: absolute;
    left: 0;
    top: 0;
    /*width: 100%;
    height: 100%;
    z-index: 1;*/
    
    /* The Yellow Gradient */
    background: linear-gradient(to bottom, #fffec7 25%, #ffcc00 75%);
    
    /* Clip background to text */
    -webkit-background-clip: text;
    background-clip: text;
    
    /* Make text transparent so gradient shows */
    color: transparent;
    
    /* Remove stroke from top layer */
    -webkit-text-stroke: 0;

}
.egg {
    font-size: 5rem;
}
main {
    font-size: 1rem;
}
#cf{
    margin-top: 4rem;
    display: grid;
    padding: 0;
    grid-template-columns: 15rem 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    "sidebar main"
    "sidebar footer"
}
aside{
    grid-area: sidebar;
    background-color: transparent;
    border-right: solid #00000040;
}
main{
    grid-area: main;
    padding: 1rem;
}
footer{
    grid-area: footer;
}

#nav2 {
    background: #b57edc;
    height: 2rem;
    position: sticky;
    top: 7rem;
    z-index: 10;
}
#terbaru{
    background: #e8bcf0;
    padding: 0.3rem;
    height: 10rem;
}
#terbaru p {
    font-family: Anton;
}
#versi p{
    background: #da8ee7;
    font-family: Arial, Helvetica, sans-serif;
}
#bt{
    height: 100vh;
    width: 15rem;
    position: fixed;
    top: 9rem;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #fff0ff;
    border-right: solid #00000040;
}
img {
    padding: 0.2rem 0 0 0;
    max-width: 20rem;
    margin: 0;
}
.rikka{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
}
h2{
    background: beige;
    height: 30rem;
    width: 25rem;
    text-align: center;
    align-content: center ;
}
.logo{
    max-height: 9rem;
    position: absolute;
    top: -0.3rem;
    z-index: 888;
    left: 20rem;
}
