@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
html {
    font-size: 10px;
}
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background: beige;
    margin: 0;
    background-image: url(./img/telur.png);
    background-size: 160px 160px;
    background-repeat: no-repeat;
    width: 100%;
    background-position: 90% 150%;
}
header {
    background: sandybrown;
    padding: 0.5rem;
}

/* 2. The "Egg" Class - Base Layer (Thick Outline) */
.egg {
    font-family: 'Anton', sans-serif;
    font-size: 5rem; /* Adjust size as needed */
    margin: 0;
    line-height: 1;
    letter-spacing: 0.20rem;
    position: relative;
    display: inline-block; /* Important ensures the box wraps the text tight */
    
    /* The Thick Dark Border */
    color: #0b2f3a; 
    -webkit-text-stroke: 0.7rem #0b2f3a; 
    paint-order: stroke fill;
}

/* 3. The "Egg" Class - Top Layer (Gradient) */
.egg::before {
    content: attr(data-text); /* Grabs text from HTML */
    position: absolute;
    left: 0;
    top: 0;
    /*width: 100%;
    height: 100%;
    z-index: 1;*/
    
    /* The Yellow Gradient */
    background: linear-gradient(to bottom, #fffec7 25%, #ffcc00 75%);
    
    /* Clip background to text */
    -webkit-background-clip: text;
    background-clip: text;
    
    /* Make text transparent so gradient shows */
    color: transparent;
    
    /* Remove stroke from top layer */
    -webkit-text-stroke: 0;

}
.egg {
    font-size: 5rem;
}
#terbaru {
    margin: 3rem 13rem 0 2rem;
    background: sandybrown;
    border: solid black 1px;
    /*display: flex;
    flex-direction: column;*/
}
.brown {
    background: saddlebrown;
    color: white;
}
.white {
    padding: 1rem;
    font-size: 1.5rem;
}
main {
    background: white;
    border: solid black 1px;
    margin: 2rem;
}
#konten {
    height: 20rem;
    display: grid;
    grid-auto-rows: 5rem;
}
#white {
    background: white;
}
#hsj {
    max-width: 20rem;
    margin-left: 5rem;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #914F3b;
    color: white;
    height: 7rem;
    padding: 3rem;
    text-align: center;
    font-size: 1.5rem;
}
#a {
    color: white;
}
#xd {
    background: sandybrown;
}
nav {
    color: saddlebrown;
    background: saddlebrown;
    height: 0.7rem;
}
.ads {
    display: block;
    text-align: center;
    margin-top: 1rem;
}
img {
    max-width: 250px;
}