body {
  font-family: monospace;
}
main{
  margin-left: auto;
  margin-right: auto;
}

img{ 
  max-width: 400px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
body {
  background: #242424;
  color: white;
}
mark{
  color: lightgoldenrodyellow;
  background: rgba(1, 1, 1, 0);
}
p {
  background: #2C2C2C;
}
h2 {
  background: #171717;
  width: 100%;
}
h1 {
  background: #171717;
  padding: 1rem;
  border: black solid 3px;
  border-left: 0;
  border-right: 0;
}
a {
  color: yellow;
}