.fjalla-one-regular {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
}
body{
  font-family: Fjalla One;
  background: #dfcae3;
}
div {
  display: block;
  padding: 0.2rem;
  margin-top: 1rem;
}
.warning {
  background: orangered;
  color: yellow;
  font-family: monospace;
  margin: auto;
  padding: 1rem;
  width: 350px;
}
img {
  border-radius: 10px;
  max-width: 3rem;
  height: auto;
}
header {
  display: flex;
  row-gap: 1rem;
  align-items: flex-start;
  background: white;
  margin: 0;
  width: 100%;
}
#img2 {
  margin-left: auto;
}
h1{
  margin-left: 10px;
  margin-top: 0;
  stroke: White solid 2px;
}
#img1 {
  border: solid black 2px;
}
a {
  display: block;
  background: #0172ff;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
  margin-top: 2rem;
  color: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to right,
    #0172ff 0%,
    #0172ff 65%,
    #0bf3b7 100%);
  border: darkblue solid 2px;
}
.destacados {
  margin-top: 1rem;
  background: darkslateblue;
  color: #0bf3b7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.warning {
  text-align: center;
  border: black solid 2px;
}
main {
  margin: 2rem 1rem 2rem 1rem;
}
section {
  background: darkslateblue;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#titl {
  font-size: 3rem;
}
.xd {
  min-width: 500px;
  border-radius: 0;
  display: block;
  text-align: center;
}