@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.fjalla-one-regular {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  background: #dfcae3;
  margin: 0;
}
a {
  display: block;
  font-size: 1.1rem;
}
    
header{
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  background: white;
  width: 100%;
  padding: 0;
  margin: 0;
  height: auto;
}
section{
  background: white;
  height: 40rem;
  border: solid black 2px;
  margin: 1rem;
}
a{
  margin-top: 5px;
}
.buttons {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: darkslategray;
  color: white;
  border-radius: 5px;
}
#xd {
  display: block;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.imglogo{
  max-width: 3rem;
  border-radius: 8px;
}
#huevo{
  margin-left: auto;
}
h1{
  font-size: 2.3rem;
  font-family: Fjalla One;
  margin: 0;
  margin-right: auto;
}
h3 {
  margin: 0;
  width: 100%;
  color: white ;
  background: linear-gradient(to right,
  #0172ff 0%,
  #0172ff 65%,
  #0bf3b7 100%);
}
main{
  padding: 1rem;
}
#xi {
  margin: 0;
  padding: 0;
  display: inline;
  white-space: nowrap;
}
h2 {
  font-display: Fjalla One;
  font-size: 3rem;
  margin: 0;
}